body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center;
  }
  
  .container {
    text-align: center;
    padding-top: 100px;
    color: #000;
  }
  
  h1 {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
  }
  
  .login-title {
    font-size: 16px;
    margin-bottom: 30px;
  }
  
  .login-form {
    display: inline-block;
    background:none;
    padding: 20px;
    border-radius: 10px;
  }
  
  .login-form input {
    display: block;
    width: 250px;
    margin: 10px auto;
    padding: 15px;
    border: 2px solid #aaa;
    border-radius: 5px;
  }
  
  .social-icons {
    margin-top: 15px;
  }
  
  .social-icons img {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 20px;
  }
  
  .register-link {
    margin-top: 10px;
    font-size: 14px;
  }
  
  .register-link a {
    color: blue;
    text-decoration: none;
  }
